/* Général */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333; /* Fond sombre */
  color: #fff; /* Texte en blanc pour contraster avec le fond sombre */
}

div {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #444; /* Fond des sections en gris foncé */
  box-shadow: none; /* Suppression de l'ombre */
}

/* Input */
input[type="text"] {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #666; /* Bordure un peu plus sombre */
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #555; /* Fond des champs en gris foncé */
  color: #fff; /* Texte en blanc */
}

input[type="text"]:focus {
  outline: none;
  border-color: #0099cc; /* Bordure bleue au focus */
  background-color: #666; /* Fond plus clair au focus */
}

/* Style spécifique pour les erreurs */
p {
  color: #e74c3c; /* Couleur d'erreur plus vive */
  font-size: 14px;
  margin: 10px 0;
}

/* Liste des artistes */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 15px;
  border-bottom: 1px solid #555; /* Légère bordure entre les éléments */
}

h3 {
  margin: 0;
  font-size: 18px;
  color: #fff; /* Texte en blanc pour les noms d'artistes */
}

h4 {
  font-size: 16px;
  color: #bbb; /* Couleur légèrement plus claire pour les sous-titres */
}

/* Boutons */
button {
  padding: 8px 16px;
  background-color: #2c3e50; /* Couleur sombre pour le bouton */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  margin-bottom: 10px; /* Ajoute de l'espace sous chaque bouton */
}

button:hover {
  background-color: #34495e; /* Légère variation de couleur au survol */
}

/* Détails de l'événement */
div h3 {
  font-size: 20px;
  color: #fff; /* Texte des titres d'événements en blanc */
  margin-bottom: 10px;
}

div p {
  font-size: 16px;
  margin: 5px 0;
}

div p strong {
  color: #16a085; /* Couleur verte pour les éléments importants */
}

/* Détail de l'artiste sélectionné */
.selected-artist-details {
  margin-top: 20px;
  background-color: #555; /* Fond gris foncé pour les détails de l'artiste */
  padding: 15px;
  border-radius: 5px;
}

.selected-artist-details h3 {
  font-size: 22px;
  color: #fff; /* Titre en blanc */
  margin-bottom: 15px;
}

.selected-artist-details p {
  font-size: 16px;
  color: #bbb; /* Texte en gris clair */
}

/* Transition de déploiement des détails */
.selected-artist-details {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.selected-artist-details.show {
  display: block;
  opacity: 1;
}
